body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  color: red;
}

.formDiv {
  border: solid 2px lightgray;
  padding: 20px 3%;
  margin: auto;
  width: 70%;
  text-align: center;
  border-radius: 10px;
}

.StudentDetailsTable {
  border: solid 2px lightgray;
  padding: 10px 3%;
  margin: auto;
  width: 70%;
  text-align: center;
  border-radius: 10px;
}